p
  b app/services/staff.js

pre
  code app<mark>.factory</mark>(<mark>'Staff'</mark>, [<mark>'$resource'</mark>, function ($resource) {
  code   return $resource('/staff/:id', { id: '@id' }, {
  code     <mark>query</mark>: { method: 'GET', isArray: true },
  code     <mark>save</mark>: { method: 'POST' },
  code     <mark>update</mark>: { method: 'PATCH' },
  code     <mark>delete</mark>: { method: 'DELETE'}
  code   })
  code }])

