- title 'Сервисы'

p Объекты или функции предназначенные для специфичных задач конкретного приложения

= link_to 'Difference between Service, Factory and Provider in AngularJS', 'https://gist.github.com/Mithrandir0x/3639232'
