- title 'AngularJS и MVC'

strong Model (модель)
p обычные переменные в объекте <code>$scope</code>

strong View (представление)
p HTML-шаблон с биндингами данных

strong Controller (контроллер)
p JavaScript функция, содержащая бизнес-логику приложения.
