- title 'Ссылки'

= link_to 'The AngularJS [project homepage]', 'http://angularjs.org/', target: '_blank'
br
= link_to 'Video Tutorial: AngularJS Fundamentals in 60-ish Minutes', 'http://weblogs.asp.net/dwahlin/archive/2013/04/12/video-tutorial-angularjs-fundamentals-in-60-ish-minutes.aspx', target: '_blank'
br
= link_to 'Коллекция скринкастов, описывающих работу фреймворка', 'http://www.egghead.io/', target: '_blank'
br
= link_to 'Видео с ng-conf 2014', 'https://www.youtube.com/user/ngconfvideos/videos', target: '_blank'
